<h1>Add new Dealership</h1>

<form action="/dealerships" method="post">
  <label for="name">Dealership's name:</label>
  <input id="dship_name" name="dship_name" type="text">
  <button type="submit">Add Dealership</button>
</form>
